In [ ]:
import pyforest
import geocoder
from tqdm import tqdm, tqdm_notebook, trange
tqdm.pandas(tqdm_notebook)
from colorama import Fore

In [48]:
df = pd.read_csv('./LatLongInfo.csv', dtype = {"LOC_LAT_DEG" : "str","LOC_LONG_DEG" : "str" })

In [49]:
print(df)

  LOC_LAT_DEG LOC_LONG_DEG
0     29.9859     -83.1509
1    39.76682   -94.057891
2   41.405205   -82.117605
3    45.15716    -81.41089
4   40.149001   -82.979665

In [50]:
df['lat_long'] = df[['LOC_LAT_DEG', 'LOC_LONG_DEG']].agg(', '.join, axis=1)

In [73]:
counties=[]
getattr(tqdm, '_instances', {}).clear()  # ⬅ clear the progress
for i in tqdm(df['lat_long'], bar_format="{l_bar}%s{bar}%s{r_bar}" % (Fore.GREEN, Fore.RESET)):
    geocoded = False
    while geocoded is not True:
        results = geocoder.osm(i)
        county=results.county
        state=results.state
        counties.append(county+', '+state) 
        geocoded = True

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:02<00:00,  2.08it/s]

In [74]:
print(counties)

['Lafayette County, Florida', 'Caldwell County, Missouri', 'Lorain County, Ohio', 'Bruce County, Ontario', 'Delaware County, Ohio']

In [75]:
df2 = pd.DataFrame(counties, columns =['counties_state'])

In [76]:
df2.head()

              counties_state
0  Lafayette County, Florida
1  Caldwell County, Missouri
2        Lorain County, Ohio
3      Bruce County, Ontario
4      Delaware County, Ohio

In [77]:
# results = geocoder.osm(df['lat_long'])
# for i in df['lat_long']:
#     geocoded = False
#     while geocoded is not True:
#         county=results.current_result.county
#         geocoded = True

In [78]:
df3.head()

           counties  counts
0      Bruce County       1
1   Caldwell County       1
2   Delaware County       1
3  Lafayette County       1
4     Lorain County       1

In [81]:
df3=df2.groupby(['counties_state']).size().reset_index(name='counts')

In [82]:
print(df2)

              counties_state
0  Lafayette County, Florida
1  Caldwell County, Missouri
2        Lorain County, Ohio
3      Bruce County, Ontario
4      Delaware County, Ohio